In [3]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [9]:
# Set up libraries and paths
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [10]:
# Create paths for csv

employment_unified_2015_data = "Resources/output_data/Unified2015.csv"
employment_elementary_2015_data = "Resources/output_data/Elementary2015.csv"
employment_secondary_2015_data = "Resources/output_data/Secondary2015.csv"

In [14]:
# Read the enrollment data and the study results

employment_unified_2015 = pd.read_csv(employment_unified_2015_data)
# pd.DataFrame(employment_unified_2015)

In [15]:
employment_elementary_2015 = pd.read_csv(employment_elementary_2015_data)
# pd.DataFrame(employment_elementary_2015)

In [16]:
employment_secondary_2015 = pd.read_csv(employment_secondary_2015_data)
# pd.DataFrame(employment_elementary_2015)

In [23]:
list_of_files = ["Resources/output_data/Unified2015.csv","Resources/output_data/Elementary2015.csv","Resources/output_data/Secondary2015.csv"]

employment_2015_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2015
    employment_2015_df.append(X1)
    
# Combine the data into a single dataset    # Another format # pd.read_csv(filename).assign(year=2014+i)
#combined_data = pd.merge(enrol_2014_2015, enrol_2015_2016,enrol_2016_2017, enrol_2017_2018, enrol_2018_2019, enrol_2019_2020, on="CDS_CODE", how="left")
employment_2015_data = pd.concat(employment_2015_df)
employment_2015_merged = pd.DataFrame(employment_2015_data)

In [24]:
employment_2015_merged.to_csv("Resources/output_data/employment_2015_merged.csv")

In [25]:
employment_2015_merged

,Unnamed: 0,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,Total!!Estimate!!Hispanic or Latino origin (of any race),...,Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races,Unemployment rate!!Estimate!!Hispanic or Latino origin (of any race),"Unemployment rate!!Estimate!!White alone, not Hispanic or Latino",Unemployment rate!!Estimate!!Population 20 to 64 years,STATE,SCHOOL DISTRICT (UNIFIED),NCESDist,year,SCHOOL DISTRICT (ELEMENTARY),SCHOOL DISTRICT (SECONDARY)
0,1,74447,61671,-999999999,-999999999,-999999999,-999999999,5861,-999999999,40495,...,-999999999.0,14.6,12.3,13.8,6,14.0,600014,2015,NaN,NaN
1,2,63117,38791,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,23477,...,-999999999.0,1.7,5.6,3.3,6,16.0,600016,2015,NaN,NaN
2,3,60729,49133,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,16282,...,-999999999.0,16.4,9.8,10.7,6,17.0,600017,2015,NaN,NaN
3,4,61495,38338,-999999999,-999999999,17354,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,-999999999.0,3.3,3.5,6,20.0,600020,2015,NaN,NaN
4,5,100489,66259,-999999999,-999999999,-999999999,-999999999,20013,-999999999,40178,...,-999999999.0,8.6,8.6,8.1,6,27.0,600027,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,41,387982,264093,17487,-999999999,60657,-999999999,32233,10743,235276,...,8.6,9.3,8.3,8.0,6,NaN,638640,2015,NaN,38640.0
41,42,96348,84960,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,-999999999.0,3.4,3.1,6,NaN,638790,2015,NaN,38790.0
42,43,57630,47271,-999999999,-999999999,-999999999,-999999999,-999999999,-999999999,32300,...,-999999999.0,7.7,3.6,5.1,6,NaN,639930,2015,NaN,39930.0
43,44,186085,91773,-999999999,-999999999,8897,-999999999,76115,-999999999,137253,...,-999999999.0,6.0,6.9,5.9,6,NaN,642480,2015,NaN,42480.0
44,45,218386,156584,-999999999,-999999999,27318,-999999999,-999999999,11141,63956,...,9.0,8.7,5.5,5.6,6,NaN,642510,2015,NaN,42510.0

In [27]:
employment_2015_merged.dtypes

Unnamed: 0                                                                                                                       int64
Total!!Estimate!!Population 16 years and over                                                                                    int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone                                                                 int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone                                             int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone                                     int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone                                                                 int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone                            int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone                                                       int64
Total!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races                                                           int64
Total!!Estimate!!Hispanic or Latino origin (of any race)                                                                         int64
Total!!Estimate!!White alone, not Hispanic or Latino                                                                             int64
Total!!Estimate!!Population 20 to 64 years                                                                                       int64
Employment/Population Ratio!!Estimate!!Population 16 years and over                                                            float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone                                         float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone                     float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone             float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone                                         float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone      int64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone                               float64
Employment/Population Ratio!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races                                   float64
Employment/Population Ratio!!Estimate!!Hispanic or Latino origin (of any race)                                                 float64
Employment/Population Ratio!!Estimate!!White alone, not Hispanic or Latino                                                     float64
Employment/Population Ratio!!Estimate!!Population 20 to 64 years                                                               float64
Unemployment rate!!Estimate!!Population 16 years and over                                                                      float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone                                                   float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone                               float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone                       float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone                                                   float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone                int64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone                                         float64
Unemployment rate!!Estimate!!RACE AND HISPANIC OR LATINO ORIGIN!!Two or more races                                             float64
Unemployment rate!!Estimate!!Hispanic or Latino origin (of any race)                                                           float64
Unemployment rate!!Estimate!!White alone, not Hispanic or Latino                                                               float64
Unemployment rate!!Estimate!!Population 20 to 64 years                                                                         float64
STATE                                                                                                                            int64
SCHOOL DISTRICT (UNIFIED)                                                                                                      float64
NCESDist                                                                                                                         int64
year                                                                                                                             int64
SCHOOL DISTRICT (ELEMENTARY)                                                                                                   float64
SCHOOL DISTRICT (SECONDARY)                                                                                                    float64
dtype: object