In [1]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend'

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [3]:
# Create paths for csv

employment_unified_2019_data = "Merged Employment/Resources/output_employment_data/Unified2019.csv"
employment_elementary_2019_data = "Merged Employment/Resources/output_employment_data/Elementary2019.csv"
employment_secondary_2019_data = "Merged Employment/Resources/output_employment_data/Secondary2019.csv"

In [4]:
# UNIFIED 2019

employment_unified_2019 = pd.read_csv(employment_unified_2019_data)
# pd.DataFrame(employment_unified_2019)

In [5]:
# ELEMENTARY 2019

employment_elementary_2019 = pd.read_csv(employment_elementary_2019_data)
# pd.DataFrame(employment_elementary_2019)

In [6]:
# SECONDARY 2019 

employment_secondary_2019 = pd.read_csv(employment_secondary_2019_data)
# pd.DataFrame(employment_secondary_2019)

In [7]:
list_of_files = [
    "Merged Employment/Resources/output_employment_data/Unified2019.csv",
    "Merged Employment/Resources/output_employment_data/Elementary2019.csv",
    "Merged Employment/Resources/output_employment_data/Secondary2019.csv"
]

# Format pd.read_csv(filename).assign(year=2019)
employment_2019_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2019
    employment_2019_df.append(X1)
    
# Combine the data into a single dataset
employment_2019_data = pd.concat(employment_2019_df)
employment_2019_merged = pd.DataFrame(employment_2019_data)

In [8]:
# Save csv file 

employment_2019_merged.to_csv("Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2019.csv")

In [9]:
employment_2019_merged

,Unnamed: 0,Geography,NAME,Estimate!!Total!!Population 16 years and over,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Black or African American alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!American Indian and Alaska Native alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Asian alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Some other race alone,...,Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!Hispanic or Latino origin (of any race),"Estimate!!Unemployment rate!!Population 16 years and over!!RACE AND HISPANIC OR LATINO ORIGIN!!White alone, not Hispanic or Latino",Estimate!!Unemployment rate!!Population 20 to 64 years,STATE,SCHOOL DISTRICT (UNIFIED),District,NCESDist,year,SCHOOL DISTRICT (ELEMENTARY),SCHOOL DISTRICT (SECONDARY)
0,1,9700000US0632070,"Redlands Unified School District, California",103753,75568,-999999999,-999999999,-999999999,-999999999,-999999999,...,4.9,6.7,5.2,6,32070.0,Redlands Unified School District,632070,2019,NaN,NaN
1,2,9700000US0632550,"West Contra Costa Unified School District, Cal...",205097,65715,32732,-999999999,44059,-999999999,51712,...,3.3,3.2,2.7,6,32550.0,West Contra Costa Unified School District,632550,2019,NaN,NaN
2,3,9700000US0633150,"Riverside Unified School District, California",215389,123698,14620,-999999999,19921,-999999999,44992,...,5.5,3.4,4.4,6,33150.0,Riverside Unified School District,633150,2019,NaN,NaN
3,4,9700000US0633750,"Rowland Unified School District, California",87017,20198,-999999999,-999999999,41285,-999999999,21700,...,5.5,6.1,6.5,6,33750.0,Rowland Unified School District,633750,2019,NaN,NaN
4,5,9700000US0633840,"Sacramento City Unified School District, Calif...",274468,146375,29800,-999999999,49604,-999999999,27093,...,7.3,5.5,5.5,6,33840.0,Sacramento City Unified School District,633840,2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,40,9600000US0624660,"Merced Union High School District, California",137172,62507,4622,-999999999,13248,-999999999,50924,...,11.5,6.0,8.5,6,NaN,Merced Union High School District,624660,2019,NaN,24660.0
40,41,9600000US0625150,"Modesto City High School District, California",211497,165844,-999999999,-999999999,-999999999,-999999999,11796,...,10.0,6.3,6.8,6,NaN,Modesto City High School District,625150,2019,NaN,25150.0
41,42,9600000US0626310,"Mountain View-Los Altos Union School District,...",96912,55075,-999999999,-999999999,32137,-999999999,-999999999,...,-999999999.0,2.8,2.7,6,NaN,Mountain View-Los Altos Union School District,626310,2019,NaN,26310.0
42,43,9600000US0626880,"Nevada Joint Union High School District, Calif...",74329,69778,-999999999,-999999999,-999999999,-999999999,-999999999,...,-999999999.0,2.5,2.4,6,NaN,Nevada Joint Union High School District,626880,2019,NaN,26880.0
43,44,9600000US0629270,"Oxnard Union High School District, California",263863,206663,7449,-999999999,24435,-999999999,15294,...,4.3,3.9,4.5,6,NaN,Oxnard Union High School District,629270,2019,NaN,29270.0