In [12]:
pwd

'/Users/ellismok/Desktop/Challenges/ca-school-enrollment-trend/Yearly Merged Employment Workbook'

In [24]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv
import scipy.stats as st
import numpy as np

In [25]:
# Create paths for csv

employment_2015_data = "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2015.csv"
employment_2016_data = "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2016.csv"
employment_2017_data = "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2017.csv"
employment_2018_data = "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2018.csv"
employment_2019_data = "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2019.csv"

In [26]:
list_of_files = [
    "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2015.csv",
    "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2016.csv",
    "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2017.csv",
    "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2018.csv",
    "../Merged Employment/Resources/merged_employment_yearly/Merged_Employment_2019.csv"
]

# Format pd.read_csv(filename).assign(year=2015)
all_merged_df = []
for i,filename in enumerate(list_of_files):
    X1 = pd.read_csv(filename)
    X1["year"] = 2015 + i
    all_merged_df.append(X1)
    
# Combine the data into a single dataset
all_employment_data = pd.concat(all_merged_df)
all_employment_df = pd.DataFrame(all_employment_data)

In [27]:
# Save csv file 

all_employment_data.to_csv("../Merged Employment/Resources/merged_employment_yearly/all_employment_data.csv")

In [28]:
## Clean Data Set

In [29]:
#Final dataset for all years and all_employment_df

In [30]:
all_employment_df

,Unnamed: 0,Unnamed: 0.1,Total!!Estimate!!Population 16 years and over,Total!!Estimate!!Population 20 to 64 years,Employment/Population Ratio!!Estimate!!Population 16 years and over,Employment/Population Ratio!!Estimate!!Population 20 to 64 years,Unemployment rate!!Estimate!!Population 16 years and over,Unemployment rate!!Estimate!!Population 20 to 64 years,NCESDist,year,School District Type,Estimate!!Total!!Population 16 years and over,Estimate!!Employment/Population Ratio!!Population 16 years and over,Estimate!!Unemployment rate!!Population 16 years and over,Estimate!!Total!!Population 20 to 64 years,Estimate!!Employment/Population Ratio!!Population 20 to 64 years,Estimate!!Unemployment rate!!Population 20 to 64 years
0,0,1,74447.0,58032.0,50.4,61.2,14.7,13.8,600014,2015,Unified,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,63117.0,47536.0,58.9,72.4,3.7,3.3,600016,2015,Unified,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,60729.0,41043.0,45.6,61.5,11.9,10.7,600017,2015,Unified,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,61495.0,46442.0,63.4,76.7,3.9,3.5,600020,2015,Unified,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,100489.0,77187.0,53.9,66.2,9.6,8.1,600027,2015,Unified,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,39,40,NaN,NaN,NaN,NaN,NaN,NaN,624660,2019,Secondary,137172.0,57.4,9.6,106224.0,68.9,8.5
212,40,41,NaN,NaN,NaN,NaN,NaN,NaN,625150,2019,Secondary,211497.0,55.7,7.3,158512.0,69.3,6.8
213,41,42,NaN,NaN,NaN,NaN,NaN,NaN,626310,2019,Secondary,96912.0,67.0,2.9,75135.0,79.8,2.7
214,42,43,NaN,NaN,NaN,NaN,NaN,NaN,626880,2019,Secondary,74329.0,51.5,2.1,46552.0,71.1,2.4
215,43,44,NaN,NaN,NaN,NaN,NaN,NaN,629270,2019,Secondary,263863.0,61.3,4.7,197839.0,74.9,4.5

In [31]:
all_employment_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1',
       'Total!!Estimate!!Population 16 years and over',
       'Total!!Estimate!!Population 20 to 64 years',
       'Employment/Population Ratio!!Estimate!!Population 16 years and over',
       'Employment/Population Ratio!!Estimate!!Population 20 to 64 years',
       'Unemployment rate!!Estimate!!Population 16 years and over',
       'Unemployment rate!!Estimate!!Population 20 to 64 years', 'NCESDist',
       'year', 'School District Type',
       'Estimate!!Total!!Population 16 years and over',
       'Estimate!!Employment/Population Ratio!!Population 16 years and over',
       'Estimate!!Unemployment rate!!Population 16 years and over',
       'Estimate!!Total!!Population 20 to 64 years',
       'Estimate!!Employment/Population Ratio!!Population 20 to 64 years',
       'Estimate!!Unemployment rate!!Population 20 to 64 years'],
      dtype='object')