In [1]:
%matplotlib inline

In [50]:
# dependencies & set up
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pathlib
from IPython.display import display

# data csv includes unemployment data per year
econ_filepath = "Resources/CensusDataFinal.csv"

# district csv includes enrollment totals per district per year along with percent changes
district_filepath = "Resources/output_data/enrollment_by_dist_changes.csv"

# school directory
school_filepath = "Resources/ca-school-list.csv"

# converting csvs into usable dfs
econ_df = pd.read_csv(econ_filepath)
district_df = pd.read_csv(district_filepath)
school_df = pd.read_csv(school_filepath)

/Users/seidy/opt/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [51]:
# verifying data types of dfs to be merged - confirming data type of common column is matching 
econ_df.dtypes

district_df.dtypes

In [54]:
# merging economic and district enrollment data based on district code and year
econ_district_df = pd.merge(district_df, econ_df, on=["NCESDist", "year"])

In [56]:
econ_district_df.columns

Index(['Unnamed: 0_x', 'District', 'year', 'ENR_TOTAL', 'Percent Change',
       'NCESDist', 'Unnamed: 0_y', 'School District Type',
       'Total!!Population 16 years and over',
       'Employment/Population Ratio!!Population 16 years and over',
       'Unemployment rate!!Population 16 years and over',
       'Total!!Population 20 to 64 years',
       'Employment/Population Ratio!!Population 20 to 64 years',
       'Unemployment rate!!Population 20 to 64 years'],
      dtype='object')

In [64]:
# dropping old index columns
econ_district_df = econ_district_df.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y"])

KeyError: "['Unnamed: 0_x' 'Unnamed: 0_y'] not found in axis"

In [65]:
#verifying data types again 
econ_district_df.dtypes

District                                                      object
year                                                           int64
ENR_TOTAL                                                      int64
Percent Change                                               float64
NCESDist                                                       int64
School District Type                                          object
Total!!Population 16 years and over                          float64
Employment/Population Ratio!!Population 16 years and over    float64
Unemployment rate!!Population 16 years and over              float64
Total!!Population 20 to 64 years                             float64
Employment/Population Ratio!!Population 20 to 64 years       float64
Unemployment rate!!Population 20 to 64 years                 float64
dtype: object

In [86]:
# cleaning up column names to make it more readable
econ_district_df = econ_district_df.rename(columns={
    "year": "Year", 
    "ENR_TOTAL": "Total Enrollment", 
    "Total Population, 16+": "Population, 16+", 
    "Employment/Population Ratio!!Population 16 years and over":"Employment Ratio, 16+", 
    "Unemployment Rate. 16+":"Unemployment Rate, 16+", 
    "Total!!Population 20 to 64 years":"Population, 20-64", 
    "Employment/Population Ratio!!Population 20 to 64 years":"Employment Ratio, 20-64", 
    "Unemployment rate!!Population 20 to 64 years":"Unemployment Rate, 20-64"})

In [91]:
econ_district_df = econ_district_df.replace(-999999999.0,np.nan)
econ_district_df

,District,Year,Total Enrollment,Percent Change,NCESDist,School District Type,"Population, 16+","Employment Ratio, 16+","Unemployment Rate, 16+","Population, 20-64","Employment Ratio, 20-64","Unemployment Rate, 20-64"
0,Rocklin Unified,2018,14070,3.814654,600013,Unified,51542.0,59.9,5.6,38279.0,73.4,5.0
1,Rocklin Unified,2019,14125,0.390903,600013,Unified,51882.0,58.6,4.4,36253.0,75.1,4.1
2,Hesperia Unified,2015,23970,NaN,600014,Unified,74447.0,50.4,14.7,58032.0,61.2,13.8
3,Hesperia Unified,2016,23829,-0.588235,600014,Unified,82334.0,48.6,8.7,62228.0,60.4,7.7
4,Hesperia Unified,2017,24138,1.296739,600014,Unified,80751.0,49.3,11.8,60671.0,62.7,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...
969,Val Verde Unified,2015,19833,NaN,691135,Unified,68697.0,55.6,10.7,53982.0,65.5,10.2
970,Val Verde Unified,2016,19924,0.458831,691135,Unified,61066.0,54.0,5.9,46370.0,66.1,5.1
971,Val Verde Unified,2017,20215,1.460550,691135,Unified,72651.0,55.7,10.8,57404.0,67.8,10.5
972,Val Verde Unified,2018,20109,-0.524363,691135,Unified,NaN,NaN,NaN,NaN,NaN,NaN
973,Val Verde Unified,2019,19917,-0.954796,691135,Unified,67443.0,56.2,7.3,55166.0,66.4,6.7

In [92]:
# exporting to csv 
econ_district_df.to_csv("Resources/output_data/econ_district_merged.csv")